.main {
  flex-grow: 1;
  order: 2;

  @include lg-min {
    flex: 0 0 calc(100% - #{$left-sidebar-width} - #{$right-sidebar-width});

    padding-right: $gap;
    padding-left: $gap;
  }
  @include lg-md {
    flex: 0 0 calc(100% - #{$left-sidebar-width});

    padding-right: 0;
    padding-left: $gap;
  }
  @include md {
    order: 1;
  }
}
