.main-content {
  &__title {
    margin: $gap 0;
    padding: 8px 12px;

    letter-spacing: 3px;

    color: $color-light;
    border-radius: 7px;
    background: linear-gradient(to right, rgba($color-dark, 0.8) 0%, rgba($color-dark, 0.5) 90%, rgba($color-dark, 0) 100%);

    font-family: $font-header;
    font-weight: 300;
    line-height: 1.5em;

    @include sm-min {
      font-size: 2rem;
    }
    @include sm-xs {
      font-size: 1.5rem;
    }
    @include xs {
      font-size: 1rem;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;

    margin-top: -$gap-xs;
    margin-right: -$gap-xs;
    margin-bottom: $gap;
    margin-left: -$gap-xs;
  }
}
