.main-breadcrumb {
  order: 2;

  width: 100%;
  margin-bottom: $gap;
  padding: 8px 12px;

  text-align: right;
  letter-spacing: 2px;

  border-radius: 7px;
  background: linear-gradient(to right, rgba($color-dark, 0) 0%, rgba($color-dark, 0.8) 100%);

  a {
    font-weight: bold;

    &:hover {
      @include text-shadow;
    }
  }

  span {
    position: relative;

    margin-right: 7px;

    color: $color-gray;
  }

  i {
    color: $color-gray;

    font-weight: bold;
  }
}
